.mat-table {
  width: 100%;
}

.mat-card {
  margin-bottom: $gutter;
}

.mat-accordion {
  display      : block;
  margin-bottom: $gutter;
}

.mat-list-base {
  position: relative;
}

// Form horizontal
.ddr-form-horizontal {
  .mat-form-field {
    width: 100%;
  }
}

.chart-block {
  width: 100%;
}

.mat-tab-label .mat-tab-label-content {
  color: #3f51b5;
}