<div fxLayout="row wrap" fxLayoutAlign="center center" class="w-full">
    <div class="text-center">
        <div class="ddr-error-code">404</div>
        <div class="ddr-error-title mat-h2 f-s-32">
            К сожалению, запрошенная вами страница не найдена.
        </div>
        <div class="ddr-error-message mat-h3">
            Для продолжения работы с приложением Вы можете перейти на главную страницу.
        </div>
        <div><a mat-raised-button color="primary" (click)="onSubmit()">Вернуться на главную</a></div>
    </div>
</div>