.ddr-branding {
  color      : inherit;
  white-space: nowrap;
  font-size  : 16px;

  .ddr-branding-logo-expanded {
    width         : 30px;
    height        : 30px;
    margin-right  : 10px;
    vertical-align: middle;

    [dir='rtl'] & {
      margin-left : 10px;
      margin-right: auto;
    }
  }

  .ddr-branding-name {
    font-weight   : normal;
    vertical-align: middle;
  }
}