<h2 mat-dialog-title>{{data.title}}</h2>
<div mat-dialog-content>
    <h3 class="f-w-400">Изменить пароль</h3>
    <div class="m-l-8">
        <app-update-password></app-update-password>
    </div>
    <div *ngIf="form.controls.username.value !== 'admin'">
        <mat-divider inset class="m-x-0 m-y-24"></mat-divider>
        <h3 class="f-w-400">Данные пользователя</h3>
        <form [formGroup]="form">
            <div fxLayout="row" fxLayout.xs="column">
                <div class="mr10" fxFlex="50">
                    <mat-form-field class="w-full">
                        <input matInput placeholder="Имя пользователя" formControlName="username" maxlength="40"
                            required>
                        <mat-error *ngIf="form.controls.username.invalid">{{getLoginErrorMessage()}}</mat-error>
                        <button mat-icon-button *ngIf="form.controls.username.value" matSuffix
                            (click)="form.get('username').setValue('')" matTooltip="Очистить">
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
                <div fxFlex="50">
                    <mat-form-field class="w-full">
                        <input matInput placeholder="ФИО" formControlName="full_name" maxlength="200" required>
                        <mat-error *ngIf="form.controls.full_name.invalid">{{getFullNameErrorMessage()}}</mat-error>
                        <button mat-icon-button *ngIf="form.controls.full_name.value" matSuffix
                            (click)="form.get('full_name').setValue('')" matTooltip="Очистить">
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
            </div>
            <div fxLayout="row" fxLayout.xs="column">
                <div fxFlex="100">
                    <mat-form-field class="w-full">
                        <mat-label>Роль пользователя</mat-label>
                        <mat-select formControlName="roles_id" required>
                            <mat-option *ngFor="let role of roles" [value]="role.role_id">
                                {{role.role_name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </form>
    </div>
</div>
<div *ngIf="form.controls.username.value !== 'admin'">
    <div mat-dialog-actions align="end">
        <button mat-button color="primary" [mat-dialog-close]="true" (click)="onSave()"
            [disabled]="form.invalid || form.disabled">Сохранить</button>
        <button mat-button color="warn" [mat-dialog-close] cdkFocusInitial>Отменить</button>
    </div>
</div>