<form [formGroup]="form">
    <div fxLayout="row" fxLayout.xs="column">
        <div fxFlex="100">
            <mat-form-field class="w-full" appearance="outline">
                <mat-label>Пароль</mat-label>
                <input matInput type="password" placeholder="Пароль" formControlName="password" required>
                <mat-error *ngIf="form.controls.password.invalid">{{getPasswordErrorMessage()}}</mat-error>
                <button mat-icon-button *ngIf="form.controls.password.value" matSuffix
                    (click)="form.get('password').setValue('')" matTooltip="Очистить">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
        </div>
    </div>
    <div fxLayout="row" fxLayout.xs="column">
        <div fxFlex="100">
            <mat-form-field class="w-full" appearance="outline">
                <mat-label>Подтвердить</mat-label>
                <input matInput type="password" placeholder="Подтвердить" formControlName="confirmPassword"
                    [errorStateMatcher]="matcher" required>
                <mat-error *ngIf="form.controls.confirmPassword.invalid || form">
                    {{getPasswordConfirmErrorMessage()}}</mat-error>
                <button mat-icon-button *ngIf="form.controls.confirmPassword.value" matSuffix
                    (click)="form.get('confirmPassword').setValue('')" matTooltip="Очистить">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
        </div>
    </div>
    <button mat-raised-button class="w-full" color="primary" (click)="onSave()"
        [disabled]="form.invalid || form.disabled">
        Сохранить пароль
    </button>
</form>